/* место для вашего кода */
html {
  scroll-behavior: smooth;
}

.header {
  padding: 92px 24px 96px 24px;
}

.header-menu {
  display: flex;
  font-size: 18px;
  align-items: center;
}

.header__links-list {
  display: flex;
  justify-content: space-between;
  width: 391px;
  font-size: 18px;
  line-height: 22px;
  margin-left: 26px;
  list-style: circle;
}

.header__links-list li {
  line-height: 21px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}
.header__logo {
  width: 148px;
  height: 105px;
  margin-left: 36px;
}

.address {
  line-height: 24.3px;
  width: 240px;
  font-style: normal;
  margin-left: 184px;
  margin-right: 25px;
}

.header__footer__link {
  text-decoration: none;
  border-bottom: 1px solid black;
  padding-bottom: 1px;
  line-height: 24px;
  font-size: 18px;
}

.header__link_active {
  text-decoration: none;
}

.header__footer__address {
  font-size: 18px;
  line-height: 24px;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.overlay {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.cover__tittle_wrap {
  display: flex;
  margin: 0 auto;
  padding-top: 165px;
}

.cover__tittle {
  display: flex;
  flex-direction: column;
  width: 1000px;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
  color: white;
  margin: auto;
}

.aligned-text {
  display: flex;
  line-height: 115px;
  letter-spacing: 0.3em;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.aligned-text_center {
  display: flex;
  line-height: 100px;
  letter-spacing: 0.3em;
  margin-left: 286px;
  margin-top: 20px;
}

.aligned-text_right {
  display: flex;
  line-height: 100px;
  letter-spacing: 0.3em;
  margin-left: 583px;
  margin-top: 20px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  margin-top: 135px;
  align-items: center;
  padding-bottom: 51px;
}

.cover__description-text {
  color: white;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 0.8em;
  text-transform: uppercase;
  margin-left: 78px;
}

.bet-button {
  background-color: transparent;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid #fff;
  margin-right: 50px;
  padding: 12px 32px 11px 31px;
  font-family: Raleway, sans-serif;
}

.lots {
  padding-top: 179px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 146px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 563px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -2;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-link {
  z-index: 2;
  text-decoration: none;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  position: relative;
  z-index: -2;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  position: relative;
  z-index: -2;
}

.lots__look-more-link {
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link a {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.card {
  display: flex;
  flex-direction: column;
  width: 334px;
  min-height: 563px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card__title {
  z-index: 2;
  text-decoration: underline;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  margin-top: 51px;
  margin-left: 40px;
  margin-right: 40px;
}

.card__text {
  z-index: 2;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin-left: 40px;
  margin-bottom: 48px;
  margin-right: 40px;
  width: 254px;
}

.about {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 156px;
  justify-content: space-between;
}

.about__logo {
  width: 334px;
}

.about__logo-image {
  width: 240px;
  background-color: #000;
  padding: 63px 46px 63px 46px;
  border-radius: 50%;
  margin: auto;
}

.about__column {
  width: 693px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about-wrapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
}

.about-text-wrapp {
  width: 693px;
  margin-left: auto;
  margin-top: 8px;
}

.about__text {
  width: 688px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.about__bot_indent {
  margin-bottom: 24px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 88px;
}

.footer-adress {
  width: 240px;
  font-style: normal;
  margin-left: 50px;
}

.footer__links-list {
  width: 150px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 22px;
  list-style: none;
  text-align: center;
}

.footer__link_active {
  list-style: none;
  text-decoration: none;
}

.footer__socials-list {
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin-right: 50px;
}

.footer__socials-item {
  width: 48px;
  height: 48px;
}
